[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Rust bindings for RDMA fundamental libraries: libibverbs-dev and librdmacm-dev (using rdma-core-mummy)
[access "refs/*"]
	owner = group user/Luke Yue (dragonJACson)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Luke Yue (dragonJACson)
	label-Verified = -1..+1 group user/Luke Yue (dragonJACson)
	push = group user/Luke Yue (dragonJACson)
	read = group user/Luke Yue (dragonJACson)
	rebase = group user/Luke Yue (dragonJACson)
	removeReviewer = group user/Luke Yue (dragonJACson)
	submit = group user/Luke Yue (dragonJACson)
[access "refs/heads/*"]
	create = group user/Luke Yue (dragonJACson)
	push = +force group user/Luke Yue (dragonJACson)
	pushMerge = group user/Luke Yue (dragonJACson)
	read = group user/Luke Yue (dragonJACson)
[access "refs/tags/*"]
	push = group user/Luke Yue (dragonJACson)
	push = +force group user/Luke Yue (dragonJACson)
